.header-container {
    background-color:#B10F2E;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

h1 {
    /* padding: 10px 0px; */
    font-size: 40px;
    margin: 0px 20px;
    font-family: 'Permanent Marker', cursive;
}

.header-link{
    text-decoration: none;
    color: #280000;
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 450px) {
    .header-container {
        justify-content: center;
        height: auto;
    }
}